Repository mjolnirjs/stated-bean: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{json,md,yml}": ["prettier --write", "git add"],
  "*.{js,mdx,ts,tsx}": ["eslint --fix", "git add"]
}

ci: testing
  .commitlintrc.json
  .gitattributes
  .gitconfig
  .travis.yml
  package.json
  yarn.lock
Due: prettier --write

initial commit, see https://github.com/travis-ci/dpl/pull/966
  README.md
Due: prettier --write

chore: disable --experimental-scope-hoisting which is buggy
  .travis.yml
  package.json
  yarn.lock
Due: prettier --write

ci: fix pages deploy error, add umd outputs (#22)
  .commitlintrc.json
  .gitattributes
  .gitconfig
  .travis.yml
  package.json
  yarn.lock
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  README.md
  example.0ef62225.js
  example.0ef62225.js.map
  example.3bf84389.js
  example.3bf84389.js.map
  index.html
Due: prettier --write, eslint --fix

docs: improve README
  .gitattributes
  .lintstagedrc
  .prettierrc
  README.md
Due: prettier --write

ci: deploy npm package automatically on CI
  .travis.yml
  .versionrc
  deploy.sh
  package.json
  yarn.lock
Due: prettier --write

ci: fix deploy issue
  .travis.yml
  deploy.sh
Due: prettier --write

chore(release): 0.1.1-alpha.2
  CHANGELOG.md
Due: prettier --write

refactor: ts type improvements, simplify intercept method name
  codechecks.yml
  example/index.tsx
  example/src/components/Todo/index.tsx
  example/src/models/TodoModel.ts
  example/src/services/TodoService.ts
  package.json
  src/context/StatedBeanProvider.tsx
  src/core/EffectContext.ts
  src/core/StatedBeanApplication.ts
  src/core/StatedBeanContainer.ts
  src/core/StatedBeanFactory.ts
  src/decorator/PostProvided.ts
  src/hooks/useContainer.ts
  src/hooks/useStatedBean.ts
  src/interceptor/StatedInterceptor.ts
  src/metadata/index.ts
  src/types/ClassType.ts
  src/types/StatedMetadata.ts
  test/__snapshots__/provider.test.tsx.snap
  test/metadata.test.ts
  test/provider.test.tsx
Due: prettier --write, eslint --fix

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.0ef62225.js.map
  example.14ca754c.js
  example.14ca754c.js.map
  example.3bf84389.js.map
  example.c747afe5.js
  example.c747afe5.js.map
  index.html
Due: eslint --fix

Revert "refactor: ts type improvements, simplify intercept method name"
  codechecks.yml
  example/index.tsx
  example/src/components/Todo/index.tsx
  example/src/models/TodoModel.ts
  example/src/services/TodoService.ts
  package.json
  src/context/StatedBeanProvider.tsx
  src/core/EffectContext.ts
  src/core/StatedBeanApplication.ts
  src/core/StatedBeanContainer.ts
  src/core/StatedBeanFactory.ts
  src/decorator/PostProvided.ts
  src/hooks/useContainer.ts
  src/hooks/useStatedBean.ts
  src/interceptor/StatedInterceptor.ts
  src/metadata/index.ts
  src/types/ClassType.ts
  src/types/StatedMetadata.ts
  test/__snapshots__/provider.test.tsx.snap
  test/metadata.test.ts
  test/provider.test.tsx
Due: prettier --write, eslint --fix

fix: workaround for descriptor undefined
  package.json
  src/decorator/PostProvided.ts
  yarn.lock
Due: prettier --write, eslint --fix

ci: install standard-version globally
  deploy.sh
Due: none

chore(release): 0.1.1-alpha.3
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.14ca754c.js.map
  example.c3dc7a5d.js
  example.c3dc7a5d.js.map
  example.c747afe5.js.map
  example.ee7655c6.js
  example.ee7655c6.js.map
  index.html
Due: eslint --fix

feat(core): add StatedBeanScope enum
  src/core/StatedBeanScope.ts
  src/core/index.ts
Due: eslint --fix

feat(core): container add register(Type) method
  src/core/StatedBeanContainer.ts
  src/hooks/useContainer.ts
Due: eslint --fix

feat(useStatedBean): support with scope
  src/hooks/useStatedBean.ts
Due: eslint --fix

feat(example): useStatedBean with scope
  example/index.tsx
  example/src/components/Counter/index.tsx
  example/src/components/Todo/index.tsx
  src/core/StatedBeanFactory.ts
Due: eslint --fix

feat(hooks): useStatedBean return type
  src/hooks/useStatedBean.ts
Due: eslint --fix

fix: get interceptor from bean factory
  src/core/StatedBeanApplication.ts
Due: eslint --fix

fix(hooks): useStatedBean get container
  src/hooks/useStatedBean.ts
Due: eslint --fix

test: add missing tests
  test/application.test.ts
  test/post-provided.test.ts
  test/provider.test.tsx
  test/useStatedBean.test.tsx
Due: eslint --fix

fix(example): remove unnecessary judgment
  example/src/components/Counter/index.tsx
  example/src/components/Todo/index.tsx
Due: eslint --fix

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.5430115b.js
  example.5430115b.js.map
  example.7e0f85f5.js
  example.7e0f85f5.js.map
  example.c3dc7a5d.js.map
  example.ee7655c6.js.map
  index.html
Due: eslint --fix

chore(release): 0.1.2-alpha
  package.json
Due: prettier --write

chore(release): v0.1.2-alpha.1
  package.json
Due: prettier --write

chore(release): 0.1.2-alpha.1
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.5430115b.js.map
  example.6876d2f2.js
  example.6876d2f2.js.map
Due: eslint --fix

fix: new container for REQUEST scope
  package.json
  src/hooks/useStatedBean.ts
Due: prettier --write, eslint --fix

chore(release): 0.1.2-alpha.2
  CHANGELOG.md
Due: prettier --write

Deploy mjolnirjs/stated-bean to github.com/mjolnirjs/stated-bean.git:gh-pages
  example.1090576c.js
  example.1090576c.js.map
  example.3df7c256.js
  example.3df7c256.js.map
  example.6876d2f2.js.map
  example.7e0f85f5.js.map
  index.html
Due: eslint --fix

chore: release 0.1.2-RC
  package.json
Due: prettier --write

chore(release): 0.1.2-RC
  CHANGELOG.md
Due: prettier --write
